.hero {
  height: 90vh;
  background-image: url('https://images.unsplash.com/photo-1586779161268-51d3e65d20fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80');
  background-size: cover;
  background-position: center;
}

.content {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 100;
  position: relative;
}

.container {
  height: 100%;
}

.overlay {
  background-color: rgba(0,0,0, 0.5);
  height: 90%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

.btn{
  color: white;
  border: 1px solid white;
  transition: border 0.5;
}

.btn:hover{
  border: 1px solid orange;
}